<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|80"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Um... Where are you going?</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Turn around, go back the way you came, and try again. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Or just <a href="http://wordpress.test/" data-type="page" data-id="2">go home</a>.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /--></div>
<!-- /wp:group -->